<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="WcfServiceTestApplication.RestServiceImpl" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WcfServiceTestApplication.IRestServiceImpl" behaviorConfiguration="EndpointBehavior" bindingConfiguration="webHttpTransportSecurity"></endpoint>
        <endpoint address="" binding="webHttpBinding" contract="WcfServiceTestApplication.IRestServiceImpl" behaviorConfiguration="EndpointBehavior" bindingConfiguration="webHttp"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport"></security>
        </binding>
        <binding name="webHttp">
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <security>
      <authorization>
        <add accessType="Allow" users="*" />
      </authorization>
      <access sslFlags="SslNegotiateCert" />
    </security>
  </system.webServer>

</configuration>
